
body {
    background: url(../images/bg.jpg) no-repeat fixed center top #000;
}

.menuitem {

    .vs {
        text-align: center;
        vertical-align: top;
        padding-right: 6pt;
        padding-left: 6pt;
    }

    span {
        display: inline-block;
        font-weight: bold;
    }

}

.metro .tile-area .user-id {
    background-color: rgba(0, 0, 0, 0.2);
}
