
// pages.less
.page {
    display: none;
}

.page.is-visible {
}

.home {
    min-height: 100%
}

.page.new-game {
    min-width: 100%;
    //min-height: 100%;

    padding-left: 40px !important;
    padding-right: 40px !important;

}
