
// pages.less
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  //text-align: center;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);


    background-color: #1D1D1D;
    color: white;

    h1, h2, h3, h4, legend, a {
        color: white; 
    }
}

.page.is-visible {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.home {
    background: url(../images/bg.jpg) no-repeat center top #000;
    min-height: 100%
}

.page.new-game {
    min-width: 100%;
    //min-height: 100%;

    padding-left: 40px !important;
    padding-right: 40px !important;

}
