.view_show_game {

    .list-group-item {
        height: 6em;

        .list-group-item-heading {
            font-style: italic;
        }

        .list-group-item-text {
            font-weight: bold;

            span.one-player {
                font-size: 2em;
            }
        }

        span.badge {
            font-size: 4em;
        }
    }

}
