// _layout_nav.jade

ul.nav.nav-pills
    li.active
        a(href="#")
            span.glyphicon.glyphicon-play-circle
            | &nbsp; Parties en cours
            span.badge 5
    li
        a(href="#") 
            span.glyphicon.glyphicon-time
            | &nbsp; Parties terminées
            span.badge 3
    li
        a(href="#new-game")
            span.glyphicon.glyphicon-plus
            | &nbsp; Nouvelle Partie
