// _new_game_home.jade

.well
    form.form-horizontal(role="form")
        fieldset
            legend Terrain
            .form-group
                label.col-sm-2.control-label Arbitre
                .col-sm-5
                    input.form-control(type="text", placeholder="Prénom")
                .col-sm-5
                    input.form-control(type="text", placeholder="Nom")
            .form-group
                label.col-sm-2.control-label Terrain
                .col-sm-10
                    input.form-control(type="text", placeholder="Terrain")
            .form-group
                label.col-sm-2.control-label Catégorie
                .col-sm-10
                    .radio
                        label
                            input(type="radio", name="radPlayerCount")
                            | Jeu Simple
                    .radio
                        label
                            input(type="radio", name="radPlayerCount", checked)
                            | Jeu Double

        fieldset
            legend Equipe A
            .form-group
                label.col-sm-2.control-label Joueur 1
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 1 - Prénom")
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 1 - Nom")
            .form-group
                label.col-sm-2.control-label Joueur 2
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 2 - Prénom")
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 2 - Nom")

        fieldset
            legend Equipe B
            .form-group
                label.col-sm-2.control-label Joueur 1
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 1 - Prénom")
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 1 - Nom")
            .form-group
                label.col-sm-2.control-label Joueur 2
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 2 - Prénom")
                .col-sm-5
                    input.form-control(type="text", placeholder="Joueur 2 - Nom")

            br
            .col-lg-10.col-lg-offset-2
                button.btn.btn-primary.btn-lg.btn-block(type="button") Continuer
