// tiles_games.jade
.row
   .col-sm-6
       .panel.panel-default
           .panel-body
               small.text-muted Service : 
                   b.text-success Carlos B.
               .text-center
                   h1 15 - 10
                   p.menuitem.text-muted
                       span Carlos B. <br/> Adam C.
                       small.vs vs
                       span Alexandre H. <br/> Julien F.
           .panel-footer.text-center
               span Riedisheim Gambetta
   .col-sm-6
       .panel.panel-default
           .panel-body
               small.text-muted Service : 
                   b.text-success Romain S.
               .text-center
                   h1 12 - 4
                   p.menuitem.text-muted
                       span Romain S.
                       small.vs vs
                       span Lorraine B.
           .panel-footer Habsheim
.row
   .col-sm-6
       .panel.panel-default
           .panel-body
               small.text-muted Service : 
                   b.text-success Nicolas H.
               .text-center
                   h1 9 - 10
                   p.menuitem.text-muted
                       span Samuel E.
                       small.vs vs
                       span  Nicolas H.
           .panel-footer 1
   .col-sm-6
       .panel.panel-default
           .panel-body
               small.text-muted Service : 
                   b.text-success Katia N.
               .text-center
                   h1 3 - 4
                   p.menuitem.text-muted
                       span Valérie A.
                       small.vs vs
                       span  Katia N.
           .panel-footer ASPTT Strasbourg
.row
   .col-sm-6
       .panel.panel-default
           .panel-body
               small.text-muted Service : 
                   b.text-success Christophe B.
               .text-center
                   h1 13 - 0
                   p.menuitem.text-muted
                       span Christophe B.
                       small.vs vs
                       span  Marianne N.
           .panel-footer ASPTT Strasbourg
