// game_details.jade

| <% 
|     var txtField = model.get("field");
|     var txtService = model.getLabelService();
|     var txtScore1 = model.get("totalScore1");
|     var txtScore2 = model.get("totalScore2");
|     var isDouble = model.get("isTypeDouble");

|     if(isDouble) {
|         var txtPlayerA1 = model.getOptList()[1];
|         var txtPlayerA2 = model.getOptList()[2];
|         var txtPlayerB1 = model.getOptList()[3];
|         var txtPlayerB2 = model.getOptList()[4];
|     } else {
|         var txtPlayer1 = model.getOptList()[1];
|         var txtPlayer2 = model.getOptList()[2];
|     };
| %>

.well
    ol.breadcrumb
        li: a(href="#") En cours
        li.active: <%= txtField %>

    .num-play
        ul.pagination
            li: a#btnExchangeFirst.pointer <small>&larr;</small>
            li: a#btnExchangePrevious.pointer &laquo;
            li: a#btnExchange 
                span.badge Échange 
                    span#numPlay <%= numPlay %>
            li: a#btnExchangeNext.pointer &raquo;
            li: a#btnExchangeLast.pointer <small>&rarr;</small>
    br
    .text-center
        p
            button#btnPdfScoring.btn.btn-primary.btn-sm(type="button")
                span.glyphicon.glyphicon-eye-open
                | &nbsp;Feuille de score
    br
    #panExchangePast.text-center.row(style="display:none")
        span.text-warning#lblExchangePastWinner
        | <br/> gagne cet échange
        br
        br
    ul.list-group
        li.list-group-item.active
            span#lblScoreA.badge <%= txtScore1 %>
            | <% if(isDouble) { %>
            h4.list-group-item-heading
                span.text-info Equipe A
            | <% }; %>
            p.list-group-item-text
                | <% if(isDouble) { %>
                |     <%= txtPlayerA1 %> <span id="lblFlagPlayerA1"/><br/>
                |     <%= txtPlayerA2 %> <span id="lblFlagPlayerA2"/><br/>
                | <% } else { %>
                span.text-info.one-player  <%= txtPlayer1 %> <span id="lblFlagPlayer1"/><br/>
                | <% }; %>
        li.list-group-item.active
            span#lblScoreB.badge <%= txtScore2 %>
            | <% if(isDouble) { %>
            h4.list-group-item-heading
                span.text-danger Equipe B
            | <% }; %>
            p.list-group-item-text
                | <% if(isDouble) { %>
                |     <%= txtPlayerB1 %> <span id="lblFlagPlayerB1"/><br/>
                |     <%= txtPlayerB2 %> <span id="lblFlagPlayerB2"/><br/>
                | <% } else { %>
                span.text-danger.one-player  <%= txtPlayer2 %> <span id="lblFlagPlayer2"/><br/>
                | <% }; %>
    #playersPlacement.text-center(style="display:none")
        //.panel.panel-default
            .panel-heading Terrain
        table.table.table-bordered(style="width: auto;")
            tr
                td#teamARight
                td#teamBLeft
            tr
                td#teamALeft
                td#teamBRight

    br
    #panExchangeCurrent.row
        .col-xs-6
            button#btnWinPlayerA.btn.btn-lg.btn-info.btn-block
                | <% if(isDouble) { %>
                |     <b>Equipe A</b>
                | <% } else { %>
                |     <b><%= txtPlayer1 %></b>
                | <% }; %>
                | <br/> Gagne
        .col-xs-6
            button#btnWinPlayerB.btn.btn-lg.btn-danger.btn-block
                | <% if(isDouble) { %>
                |     <b>Equipe B</b>
                | <% } else { %>
                |     <b><%= txtPlayer2 %></b>
                | <% }; %>
                | <br/> Gagne
