// tiles_games.jade
.tile-group.expand
   .tile-group-title
       b Parties en cours
    a.tile.double.bg-darkPink(href="#")
        .tile-content
            .text-center.padding10.ntp
                h1.fg-white.no-margin 15 - 10
                p.fg-white.menuitem
                    span Carlos B. <br/> Adam C.
                    small.vs vs
                    span Alexandre H. <br/> Julien F.
        .brand
            .badge: i.icon-address-book
            .label Riedisheim Gambetta
    a.tile.double.bg-violet(href="#")
        .tile-content
            .text-center.padding10.ntp
                h1.fg-white.no-margin 12 - 4
                p.fg-white.menuitem
                    span Romain S.
                    small.vs vs
                    span Lorraine B.
        .brand
            .badge: i.icon-user
            .label Habsheim
    a.tile.double.bg-violet(href="#")
        .tile-content
            .text-center.padding10.ntp
                h1.fg-white.no-margin 9 - 10
                p.fg-white.menuitem
                    span Samuel E.
                    small.vs vs
                    span  Nicolas H.
        .brand
            .badge: i.icon-user
            .label 1
    a.tile.double.bg-violet(href="#")
        .tile-content
            .text-center.padding10.ntp
                h1.fg-white.no-margin 3 - 4
                p.fg-white.menuitem
                    span Valérie A.
                    small.vs vs
                    span  Katia N.
        .brand
            .badge: i.icon-user
            .label ASPTT Strasbourg
    a.tile.double.bg-violet(href="#")
        .tile-content
            .text-center.padding10.ntp
                h1.fg-white.no-margin 13 - 0
                p.fg-white.menuitem
                    span Christophe B.
                    small.vs vs
                    span  Marianne N.
        .brand
            .badge: i.icon-user
            .label ASPTT Strasbourg
